body {
    border-color: black;
    border-style: solid;
    margin:0 auto;
    width: 800px;
    padding: 5px
}

img {
    display:"center";
    width:"756";
    height:"400";
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

hr {
    border: 5px solid lightblue;
    border-radius: 25px;
}

.layer1 {
    background-color: white;
    padding: 10px;
    color: black;
};

.block {
    display: block;
    width: 100%;
    border: none;
    padding: 12px 24px;
    background-color: dodgerblue;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
};

#signature {
    font-style: italic;
    color: red;
    text-align: right;
};