body {
    border-color: black;
    border-style: solid;
    margin:0 auto;
    width: 800px;
    padding: 10px;
}

img {
    display:"center";
    width:"756";
    height:"400";
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.userInfo {
    background-color: lightskyblue;
    padding: 10px;
    color: white;

};

.radioQuestion {
    background-color: white;
    padding: 10px;
    color: lightskyblue;
};