body {
    border-color: black;
    border-style: solid;
    margin:0 auto;
    width: 800px;
    padding: 10px;
}

h2 {
    color: blue;
}

.userInfo {
    background-color: lightblue;
    padding: 10px;
    color: white;

};